127.0.0.1   localhost
::1         localhost ip6-localhost ip6-loopback
{% for host in groups['alpine_cluster'] %}
{{ hostvars[host].ansible_host }} {{ hostvars[host].inventory_hostname }}
{% endfor %}