# container_network_hardening.j2 - Docker network security settings
{
  "default-address-pools": [
    {
      "base": "172.28.0.0/16",
      "size": 24
    }
  ],
  "iptables": true,
  "ip-masq": true,
  "userland-proxy": false,
  "bridge-nf-call-iptables": true,
  "bridge-nf-call-ip6tables": true
}