[mysqld]

innodb_buffer_pool_size=2G
join_buffer_size=25M
key_buffer_size=25G
max_connections=20
max_allowed_packet=268435456
query_cache_limit=10M
query_cache_size=100M
read_buffer_size=2G
read_rnd_buffer_size=50M
skip-external-locking
sort_buffer_size=2G
table_open_cache=256
tmp_table_size=5G
myisam_sort_buffer_size=640M
thread_cache_size=8
query_cache_size=160M
thread_concurrency=16
log-bin=mysql-bin
binlog_format=mixed
server-id=1

default_storage_engine = InnoDB
innodb_buffer_pool_size = 2G
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 0
innodb_flush_method = O_DIRECT
innodb_log_buffer_size = 2G
innodb_log_file_size = 128M # Delete the ib_logfile0 & ib_logfile1 files in /var/lib/mysql whenever you change this, even the first time you set it up, as the default value is 8M. Don't go above 256M.
open_files_limit=10000

[mysqldump]
quick
max_allowed_packet = 256M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer_size = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout