{
  "{{ ansible_managed }}": true,
  "icc": {{ docker_icc_enabled | default(false) | to_json }},
  "userns-remap": "{{ docker_userns | default('default') }}",
  "log-driver": "{{ docker_log_driver | default('json-file') }}",
  "log-opts": {
    "max-size": "{{ docker_log_max_size | default('10m') }}",
    "max-file": "{{ docker_log_max_files | default('3') }}"
  },
  "log-level": "{{ docker_log_level | default('info') }}",
  "default-ulimits": {
    "nofile": {
      "Name": "nofile",
      "Hard": {{ docker_ulimit_nofile | default(64000) }},
      "Soft": {{ docker_ulimit_nofile | default(64000) }}
    }
  },
  "live-restore": {{ docker_live_restore | default(true) | to_json }},
  "userland-proxy": {{ docker_userland_proxy | default(false) | to_json }},
  "no-new-privileges": {{ docker_no_new_privs | default(true) | to_json }},
  "selinux-enabled": {{ docker_selinux_enabled | default(true) | to_json }},
  {% if docker_seccomp_profile is defined %}
  "seccomp-profile": "{{ docker_seccomp_profile }}",
  {% else %}
  "seccomp-profile": "/etc/docker/seccomp/default.json",
  {% endif %}
  "iptables": {{ docker_iptables | default(true) | to_json }},
  "cgroup-parent": "{{ docker_cgroup_parent | default('docker.slice') }}",
  "storage-driver": "{{ docker_storage_driver | default('overlay2') }}",
  "default-runtime": "{{ docker_default_runtime | default('runc') }}",
  "runtimes": {
    "runc": {
      "path": "/usr/bin/runc"
    }{% if docker_gvisor_enabled | default(false) %},
    "gvisor": {
      "path": "/usr/bin/runsc"
    }{% endif %}
  },
  "features": {
    "buildkit": {{ docker_buildkit_enabled | default(true) | to_json }}
  }
}